1. Data Cleaning and Exploration:

Project: Clean and explore a dataset like the famous Iris dataset.
Skills: Pandas, Matplotlib/Seaborn.
Objective: Showcase data cleaning techniques and basic exploratory data analysis.


1. **Data Acquisition:**
    - Download the Tips dataset. This dataset is available in several places, one of which is the UCI Machine Learning Repository.

2. **Data Loading:**
    - Use pandas to load the dataset into a DataFrame.

3. **Data Cleaning:**
    - Check for missing values and handle them. This could be by removing rows with missing values or filling them with appropriate values.
    - Check for duplicate entries and handle them.
    - Check the data types of the columns and make sure they are appropriate for the data they contain.

4. **Data Exploration:**
    - Use methods like `describe()`, `info()`, and `value_counts()` to get a sense of the data.
    - Use visualizations to further understand the data. This could include histograms, scatter plots, and box plots.

5. **Feature Engineering:**
    - Depending on the results of the data exploration, you might want to create new features that can better represent the information in the dataset.

6. **Data Analysis:**
    - Use statistical methods to analyze the data. This could include finding the mean, median, mode, standard deviation, etc.
    - Use visualizations to present your findings. This could include bar plots, pie charts, etc.

7. **Conclusion:**
    - Summarize your findings and the steps you took in your analysis.
    - Discuss any potential improvements that could be made or new questions that arose during your analysis.

Remember, the goal of this project is to showcase data cleaning techniques and basic exploratory data analysis. So, make sure to explain your steps and findings clearly.

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#load & Preview tips dataset
tips_data = sns.load_dataset('tips')
tips_data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

3. **Data Cleaning:**
- Check for missing values and handle them. This could be by removing rows with missing values or filling them with appropriate values.
- Check for duplicate entries and handle them.
- Check the data types of the columns and make sure they are appropriate for the data they contain.

In [32]:
#check for missing values and confirm appropriate data types
tips_data.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [19]:
#check for duplicate entries
tips_data.duplicated().sum()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [25]:
#investigate duplicate entries to decide how to handle them
duplicates = tips_data[tips_data.duplicated(keep=False)]
duplicates

     total_bill  tip     sex smoker   day   time  size
198        13.0  2.0  Female    Yes  Thur  Lunch     2
202        13.0  2.0  Female    Yes  Thur  Lunch     2

In [27]:
#drop duplicate entries from current df & confirm
tips_data.drop_duplicates(inplace=True)
tips_data.duplicated().sum()

0

In [33]:
#confirm data types are appropriate for each column
print(tips_data.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

4. **Data Exploration:**
    - Use methods like `describe()`, `info()`, and `value_counts()` to get a sense of the data.
    - Use visualizations to further understand the data. This could include histograms, scatter plots, and box plots.